header {
    background-image: url('images/logo/ohmyfood@2x.svg');
    background-size: 165px 30px;
    background-position: center 22px ;
    background-repeat: no-repeat;
    .btn-arrow i {
        font-size: 1.3rem;
        color : $color-darkgrey ;
    }
}

.header_index {
    position: relative;
    z-index: 2;
    height : 65px ;
    box-shadow: $color-shadow 0px 2px 3px;
}