.resto__grid {
    @include tablet {
        display: grid;
        grid-template-columns: repeat(auto-fill, 48%);
        justify-content: space-between;
        gap: 1rem;
    }
    @include desktop {
        grid-template-columns: repeat(auto-fill, 31%);
    }
    li {
        display: flex ;
        position: relative;
        width: auto ;
        height : 250px ;
        border-radius: 0.9rem;
        margin-bottom: 1.3rem;
        box-shadow: $color-shadow 5px 10px 10px;
    }
    img {
        position: absolute;
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius: 0.9rem 0.9rem 0 0;
    }
    &__new {
        position: absolute;
        top : 0.9rem ; right : 0.7rem ;
        background-color: $color-tertiary;
        color : darken($color: $color-tertiary, $amount: 48%);
        text-align : center ;
        padding : 0.6em 1em ;
        border-radius: 0.2rem;
    }
    &__caption {
       position : absolute ;
       bottom: 0; left : 0 ;
       width: 100%; height: 75px;
       padding : 1.1rem 1rem;
       box-sizing: border-box;
       h4, p {
           line-height: 1.6rem;
       }
       &__heart {
            i {
                position : absolute ;
                z-index: 1;
                top : 1.6rem ; right : 1.7rem ;
                font-size: 1.5rem;
                &:hover {
                    opacity: 0;
                }
                &:hover + span i {
                    animation : heart 250ms 30ms both ;
                    transform-origin: bottom;
                }
            }
            span i{
                position: absolute;
                z-index: 0;
                display: inline-block;
                background : linear-gradient(200deg, $color-primary 2%, $color-secondary);
                -webkit-background-clip : text;
                color: transparent;
                scale: 0;
                opacity: 0;
            }
        }
    }
}