.btn {
    display: inline-block;
    height : 50px ;
    padding : 0 22px ;
    margin-bottom: 4rem;
    background : linear-gradient(175deg, $color-secondary, 60%, $color-primary);
    border : none ;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    @include box-shadow;
    cursor: pointer;
    &--command {
        padding : 0 50px ;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top : 0 ; bottom : 0; left : 0 ; right : 0 ;
        opacity: 0;
        transition: opacity 200ms;
        background: linear-gradient(175deg, lighten($color-secondary, 3%), 60%, lighten($color-primary, 3%));
        box-shadow: darken($color-shadow, 6%) 0px 7px 12px;
        border-radius: 25px;
    }
}

.btn-arrow {
    display: inline-block;
    background-color: $color-popout;
    padding : 22px;
    color : $color-darkgrey;
    border : none ;
}