.menu {
    li {
    position: relative;
    background-color: $color-popout;
    padding : 1rem 0.7rem;
    border-radius: 0.9rem;
    margin-bottom: 1rem;
    @include box-shadow ;
    }
    &__main {
        padding-bottom: 0.2rem ;
    }
    &__price {
        position: absolute;
        bottom: 1rem; right: 1.6rem;
    }
    &__select {
        display: none;
    }
}