.menu {
    &__li {
    position: relative;
    overflow: hidden;
    background-color: $color-popout;
    padding : 1rem 4rem 1rem 0.7rem;
    border-radius: 0.9rem;
    margin-bottom: 1rem;
    transition: $checkbox-dur*2 50ms;
    cursor: pointer;
    @include box-shadow ;
    animation : dish $dish-dur 150ms ease-in-out both;
            @for $i from 1 through 4 {
                &--#{$i} {
                    animation-delay: $dish-dur * $i;
                }
            }
        &:hover {
            padding-right: 8.3rem;
        }
        &:hover &__select {
            animation: greenbox cubic-bezier(.94, .54, .24, .54) $checkbox-dur*2 50ms both;
            transform-origin: right ;
        }

        &:hover &__select i {
            animation : checkicon cubic-bezier(.94, .05, .14, .54) $checkbox-dur $checkbox-dur+30ms both ;
        }
        &:hover &__price {
            padding-right: 3.8rem;
        }

        &__main {
            padding-bottom: 0.2rem ;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: '...';
        }
        &__acc {
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: '...';
        }
        &__price {
            position: absolute;
            bottom: 1rem; right: 1.6rem;
            transition: $checkbox-dur*2 50ms ;
        }
        &__select {
            display : flex ;
            justify-content : center ;
            align-items: center;
            position: absolute;
            bottom: -1px; right: -1px;
            width: 4.3rem;
            height: 4.9rem;
            scale: 0;
            border-radius: 0 0.9rem 0.9rem 0;
            margin-left: 0.5rem;
            background-color: $color-tertiary;
            i {
                font-size: 0.8rem;
                color: $color-tertiary;
                width: 1.5em;
                height: 1.5em;
                border-radius: 1.5em;
                line-height: 1.5em;
                text-align: center;
                background-color: $color-popout;
            }
        }
    }
}