.load {
    position: relative ;
    height: 100vh;
    display: flex ;
    justify-content: center;
    align-items: center;
    animation: load-end $load-end-dur $load-end-delay both;
    &__icon {
        position: absolute;
        z-index: 2;
        width: $load-icon-size;
        height: $load-icon-size;
        border-radius: $load-icon-size;
        text-align: center;
        line-height: $load-icon-size;
        font-size: 2rem;
        background-color: $color-popout;
        color:$color-darkgrey;
        animation: load-end-icon $load-end-dur $load-end-delay both;
    }
    &__gradient {
        position: absolute;
        z-index: 0;
        width: $load-size;
        height: $load-size;
        border-radius: $load-size;
        background : linear-gradient($color-secondary, $color-tertiary, $color-primary);
        animation: load-gradient $load-dur $animation-delay normal both;
    }
}