.landing {
    &__explore {
        align-items: center;
        background-color: lighten($color: $color-shadow, $amount: 15%);
        text-align: center;
        h1 {
            padding : 2em 17% 1em 17% ;
        }
        h2 {
            padding : 0 6% 2em 6% ;
        }
    }
    &__fonctionnement {
        padding : 3.6rem 1.2rem 3rem /*4.7-margin bottom1.7li*/ 1.2rem ;
        h3 {
            padding-bottom: 2.2rem ;
        }
        .active {
            display: none;
        }
    }
}

.resto {
    align-items: center;
    background-color: lighten($color: $color-shadow, $amount: 15%);
    padding : 4rem 1.2rem 3.1rem 1.2rem ;
    h3 {
        padding-bottom: 1.8rem;
    }
}
