.landing {
    @include tablet {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    form {
        @include tablet {
            flex : 55%;
            height: 440px;
            padding-top: 50px;
        }
    }
    &__explore {
        align-items: center;
        background-color: map-get($greys, middle-grey);
        text-align: center;
        h1 {
            padding : 2em 17% 1em 17% ;
        }
        h2 {
            padding : 0 6% 2em 6% ;
        }
        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 50%;
            background-color: $color-popout;
        }
    }
    &__fonctionnement {
        padding : 3.6rem 1.2rem 3rem 1.2rem ;
        h3 {
            padding-bottom: 2.2rem ;
            @include tablet {
                text-align: center;
            }
        }
        .active {
            display: none;
        }
        @include tablet {
            height: 440px;
            flex : 45% ;
            padding-top: 50px;
            border-left: 3px map-get($greys, middle-grey) solid;
        }
    }
}

.resto {
    align-items: center;
    background-color: map-get($greys, light-grey);
    padding : 4rem 1.2rem 3.1rem 1.2rem ;
    h3 {
        padding-bottom: 1.8rem;
    }
    @include tablet {
        background-color: $color-popout;
    }
}
