$animation-delay: 30ms;

$heart-dur: 250ms;

$load-dur: 2500ms;
$load-end-dur: 10ms;
$load-end-delay: $load-dur+$animation-delay;

@keyframes load-gradient {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    99% {
        opacity: 1;    
    }
    100% {
        transform: rotate(720deg);
        opacity: 0;
    }
}

@keyframes load-end {
    0% {
        height: 100vh;
    }
    100% {
        height: 0vh;
    }
}

@keyframes load-end-icon {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

$menu-appear-dur : 150ms ;

@keyframes menu-appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

$checkbox-dur : 180ms ;

@keyframes checkicon {
    0% {
        transform : translate(2.15rem) rotate(-90deg);
    }
    100% {
        transform: translate(0) rotate(0);
    }
}