@keyframes load-gradient {
    0% {
        transform: rotate(0);
        opacity: 1;
    }
    99% {
        opacity: 1;    
    }
    100% {
        transform: rotate(720deg);
        opacity: 0;
    }
}

@keyframes load-end {
    0% {
        height: 100vh;
    }
    100% {
        height: 0vh;
    }
}

@keyframes load-end-icon {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes essai {
    0% {
        transform : translateX(-10rem);
    }
    100% {
        transform : translateX(10rem);
    }
}


@keyframes heart {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        opacity : 0.2
    }
    100% {
        transform: scale(1);
        opacity : 1;
    }
}

$dish-dur : 150ms ;

@keyframes dish {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

$checkbox-dur : 150ms ;

@keyframes checkicon {
    0% {
        transform : translate(2.15rem) rotate(-90deg);
        /*rotate: (-90deg);*/
    }
    100% {
        transform: translate(0) rotate(0);
        /*rotate: (0);*/
    }
}