$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-default: #000;
$color-popout: #fff;
$color-darkgrey: #353535;
$color-shadow: #cfcfcf;

$breakpoints : (tablet:768px, screenXL:1025px) ;